<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radmagnet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.radmagnet.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="www.radmagnet.com" android:pathPrefix="/GET/share/" />
            </intent-filter>

            </activity>
        <activity
            android:name=".activities.BookmarkActivity"
            android:label="@string/radsILove_txt"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receivers.CheckAppReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.RealmCleaningReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
